$bg-1: #212526;
$bg-2: lighten($bg-1, 5%);
$bg-3: lighten($bg-2, 5%);
$bg-4: lighten($bg-3, 5%);

:root {
	--bs-font-sans-serif: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: inherit; // bitno je da inherita od <html> zbog responzivnosti veliÄine teksta
}

.navbar {
	@media (max-width: 767.98px) {
		width: 100%;
	}
}
.content {
	@media (max-width: 767.98px) {
		// width: 100%;
		// max-width: 100%;
	}
}
.sidebar, .sidebar-content {
	background-color: $bg-1;
}
.sidebar-logo {
    font-size: 1.125rem;
    padding: 1.15rem 1.5rem;
    display: block;
	font-weight: 400;
	line-height: 1;
	text-align: left;
	color: $bg-3;
	transition: color 0.3s cubic-bezier(0.4, 0, 0, 1);

	&:hover {
		text-decoration: none;
		color: $bg-4;
	}

	svg {
		fill: currentColor;
		fill: silver;
		height: 24px;
		width: 127px;
		margin-right: 0.625em;
	}
}
.login-brand svg {
	fill: #16addd;
	height: 64px;
	width: 64px;
}

.help-header {
	border-color: #eff2f6;
}

.modal-bg-body {
	background-color: #F7F9FC;
}

// override modal-body container styles
.override-desktop-limit {
	@media (min-width: 1200px) {
		max-width: 75%;
	}
}

.sidebar-dropdown .router-link-active {
  color: #e9ecef;
}

.add-staff-section {
    border-top: 1px solid #6c757d;
    padding-top: 2rem;
}

.override-input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.override-upload-image-wrap {
	position: relative;
	max-width: 120px;
	margin: auto;
}

.override-upload-image {
    position: relative;
    border-radius: 9999px;
    overflow: hidden;
}

.override-upload-image-square {
    position: relative;
    display: block;
    border-radius: 9999px;
    overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    &:before {
        display: block;
        padding-bottom: 100%; /* [1] */
        width: 100%;
        content: "";
    }
}

.override-upload-image-square > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.override-upload-image-layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    border-radius: 9999px;
    overflow: hidden;
}

.override-upload-image-missing {
	border: 2px solid silver;
	pointer-events: none;
    border-radius: 9999px;
    overflow: hidden;
}

.override-upload-image-missing-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    border-radius: 9999px;
    overflow: hidden;

	> span {
		position: absolute;
		bottom: auto;
		font-size: 5rem;
		left: auto;
		right: auto;

		&.is-user {
			bottom: 0;
		}
	}
}

.override-upload-image-input-wrap-label {
	cursor: pointer;
	.override-upload-image:hover & {
		background-color: rgba(255, 255, 255, 0.75);
	}
}

.override-upload-image-input-wrap-label-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
	pointer-events: none;
	transform: scale(0) translateY(2rem);
	opacity: 0;
	transition: transform 0.25s cubic-bezier(0.4, 0, 0, 1), opacity 0.5s cubic-bezier(0.4, 0, 0, 1);
	.override-upload-image:hover & {
		opacity: 1;
		transform: none;
	}
}

.override-upload-image-remove {
	width: 25%;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	background-color: var(--bs-danger);
	border: 2px solid var(--bs-danger);
	color: white;
}

.override-upload-image-remove-center {
	display: flex;
    justify-content: center;
    align-items: center;
}
.override-place-in-alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 0.25rem;
    font-size: 1rem;
    background: transparent;
}

@import "70-overrides/responsive-sidebar";
@import "70-overrides/responsive-elements";
@import "70-overrides/fullcalendar";
@import "70-overrides/section-reveal";
@import "70-overrides/terms-page";
