.c-button {
  padding: 0.5em 0.75em;
  font-weight: 900;
  color: currentColor;
  border-radius: 0.5rem;
  transition: background-color $speed $easing, color $speed $easing;

  &.is-current {
    box-shadow: inset 0 0 0 0.125em $theme-main;

    html.mode-dark & {
      box-shadow: inset 0 0 0 0.125em $theme-darken;
    }

    html.orchid & {
      box-shadow: inset 0 0 0 0.125em $orchid-main;
    }

    html.goldenrod & {
      box-shadow: inset 0 0 0 0.125em $goldenrod-main;
    }

    html.coral & {
      box-shadow: inset 0 0 0 0.125em $coral-main;
    }
  }
  &[disabled] {
    cursor: default;
    opacity: 0.2;
    background-color: transparent !important;
  }
  &.is-submit {
    width: 100%;
    font-size: 2rem;
  }
  &.-larger {
    font-size: 150%;
  }
}

.c-button_label {
  vertical-align: inherit;
  display: inline-block;
  line-height: inherit;
  pointer-events: none;
  margin-bottom: 0.125em;
}

.c-button.-primary {
  $site-button-bg: $theme-main;
  background-color: $site-button-bg;

  html.mode-dark & {
    $site-button-bg: $theme-darken;
    background-color: $site-button-bg;
  }

  html.orchid & {
    $site-button-bg: $orchid-main;
    background-color: $site-button-bg;
    $site-button-hover-color: $black;
    color: $site-button-hover-color;
  }

  html.goldenrod & {
    $site-button-bg: $goldenrod-main;
    background-color: $site-button-bg;
    $site-button-hover-color: $black;
    color: $site-button-hover-color;
  }

  html.coral & {
    $site-button-bg: $coral-main;
    background-color: $site-button-bg;
    $site-button-hover-color: $black;
    color: $site-button-hover-color;
  }

  &:hover,
  &:focus {
    $site-button-hover-bg: $theme-darken;
    background-color: $site-button-hover-bg;
    $site-button-hover-color: $white;
    color: $site-button-hover-color;

    html.mode-dark & {
      $site-button-hover-bg: $theme-main;
      background-color: $site-button-hover-bg;
      $site-button-hover-color: $black;
      color: $site-button-hover-color;
    }

    html.orchid & {
      $site-button-hover-bg: $orchid-darken;
      background-color: $site-button-hover-bg;
      $site-button-hover-color: $white;
      color: $site-button-hover-color;
    }

    html.goldenrod & {
      $site-button-hover-bg: $goldenrod-darken;
      background-color: $site-button-hover-bg;
      $site-button-hover-color: $white;
      color: $site-button-hover-color;
    }

    html.coral & {
      $site-button-hover-bg: $coral-darken;
      background-color: $site-button-hover-bg;
      $site-button-hover-color: $white;
      color: $site-button-hover-color;
    }
  }
}

.c-button.-tab {
  @extend .c-form_font;

  width: 100%;
  text-align: left;
  color: currentColor;
  border-radius: 0.5em;
  transition: background-color $speed / 2 $easing;
  
  $site-button-bg: $element-bg;
  background-color: $site-button-bg;
  
  html.mode-dark & {
    $site-button-bg: $mode-dark_element-bg;
    background-color: $site-button-bg;
  }
  
  &:hover,
  &:focus {
    background-color: $theme-main;

    &:not(:disabled) {
      $site-button-hover-color: $white;
      color: $site-button-hover-color;
    }
  
    html.mode-dark & {
      background-color: $theme-darken;
      $site-button-hover-color: $black;
      color: $site-button-hover-color;
    }
  
    html.orchid & {
      background-color: $orchid-main;
    }
  
    html.goldenrod & {
      background-color: $goldenrod-main;
    }
  
    html.coral & {
      background-color: $coral-main;
    }
  }
}

.c-button.-outline {
  box-shadow: inset 0 0 0 0.125em currentColor;
  border-radius: 9999em;
  transition: box-shadow $speed $easing;

  $site-button-bg: $theme-main;
  box-shadow: inset 0 0 0 0.125em $site-button-bg;

  html.mode-dark & {
    $site-button-bg: $theme-darken;
    box-shadow: inset 0 0 0 0.125em $site-button-bg;
  }

  html.orchid & {
    $site-button-bg: $orchid-main;
    box-shadow: inset 0 0 0 0.125em $site-button-bg;
  }

  html.goldenrod & {
    $site-button-bg: $goldenrod-main;
    box-shadow: inset 0 0 0 0.125em $site-button-bg;
  }

  html.coral & {
    $site-button-bg: $coral-main;
    box-shadow: inset 0 0 0 0.125em $site-button-bg;
  }

  &:hover,
  &:focus {
    $site-button-hover-bg: $theme-darken;
    box-shadow: inset 0 0 0 0.125em $site-button-hover-bg;

    html.mode-dark & {
      $site-button-hover-bg: $theme-main;
      box-shadow: inset 0 0 0 0.125em $site-button-hover-bg;
    }

    html.orchid & {
      $site-button-hover-bg: $orchid-darken;
      box-shadow: inset 0 0 0 0.125em $site-button-hover-bg;
    }

    html.goldenrod & {
      $site-button-hover-bg: $goldenrod-darken;
      box-shadow: inset 0 0 0 0.125em $site-button-hover-bg;
    }

    html.coral & {
      $site-button-hover-bg: $coral-darken;
      box-shadow: inset 0 0 0 0.125em $site-button-hover-bg;
    }
  }
}
