

.c-site-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  $site-header-bg: #e9e9e9;
  background-color: $site-header-bg;

  html.t1 & {
    $site-header-bg: black;
    background-color: $site-header-bg;
  }

  html.t2 & {
    $site-header-bg: purple;
    background-color: $site-header-bg;
  }
}

.c-site-header_inner {
  @media (min-width: $from-small) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.c-site-header_main {
  flex-shrink: 0;

  @media (max-width: $to-small) {
    position: relative;
    z-index: 5;

    // $site-header-mobile-bg: deepskyblue;
    // background-color: $site-header-mobile-bg;
  }
}
.c-site-header_main_inner {
  @media (max-width: $to-small) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 1rem 0;
  }
}
.c-site-brand-wrap {
  overflow: hidden;
}
.c-site-brand {
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
}
.c-site-header_aside {
  // background-color: lightskyblue; //dev only

  @media (max-width: $to-small) {
    position: relative;
  }

  @media (min-width: $from-small) {
    margin-left: 2rem;
  }

  &.is-overflow-swipe\@from-small {
    @media (min-width: $from-small) {
      // white-space: nowrap;
      overflow: hidden;
      overflow-x: auto;
    }
  }
}

.c-site-nav_menu-toggle {
  display: flex;
  // line-height: 1;
  padding: 1.5rem;

  $site-menu-toggle-bg: aqua;
  background-color: $site-menu-toggle-bg;

  @media (min-width: $from-small) {
    display: none;
  }
}

.c-site-header_aside_inner {
  $site-header-aside-inner-bg: lightgoldenrodyellow;

  @media (max-width: $to-small) {
    background-color: $site-header-aside-inner-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 4rem; // needs to be the height of the .c-site-header_MAIN_inner
    overflow: hidden;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: 0.5s ease;
    transition-delay: 0.5s;
    transform-origin: right;

    html.has-mobile-menu-open & {
      transform: none;
    }
  }

  @media (max-width: $to-small) {
    html.t1 & {
      $site-header-aside-inner-bg: red;
      @media (max-width: $to-small) {
        background-color: $site-header-aside-inner-bg;
      }
    }

    html.t2 & {
      $site-header-aside-inner-bg: orange;
      @media (max-width: $to-small) {
        background-color: $site-header-aside-inner-bg;
      }
    }
  }
}