// .c-steps-header_menu-toggle {
//   @media (min-width: $from-medium) {
//     display: none;
//   }
// }
.c-steps-menu {
  position: relative;
  // perspective: 2000px;
  @media (max-width: $to-medium) {
    z-index: -1;
  }
}
.c-steps-menu_inner {
  @media (max-width: $to-medium) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    // transform: rotate3d(1, 0, 0, 60deg) translate3d(0, -50%, 0);
    transform-origin: top;
    transition: transform $speed * 2 $easing, opacity $speed $easing;

    &.is-open {
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }
  }
}

.c-steps-list-wrap {
  // margin-left: -1rem;
  @media (max-width: $to-medium) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @media (min-width: $from-medium) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.c-steps-list {
  margin-left: -1rem;
  display: flex;
  @media (max-width: $to-medium) {
    flex-direction: column;
  }
}

.c-steps-list_item {
  margin-left: 1rem;
  flex-grow: 1;
}
