.is-overflow-swipe {
  overflow: hidden;
  overflow-x: auto;

  scrollbar-color: currentColor transparent; /* Firefox */
  scrollbar-width: thin; /* Firefox */

  &::-webkit-scrollbar {
    height: 2px;
  }
  &::-webkit-scrollbar-track {
  }
  &::-webkit-scrollbar-thumb {
    background-color: currentColor;
  }
}

// use this when card has multiple links inside but has to look like it's wrapped in anchor
.has-links-inside {
  position: relative;

  a {
    position: relative;
    z-index: 2;
  }

  .has-links-inside_main-link {
    position: static;

    &:before {
      content: "";
      bottom: 0;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      white-space: nowrap;
      z-index: 1;
      color: $black;
    }

    &:focus,
    &:hover {
      &:before {
        // border: 1px solid currentColor;
      }
      .has-links-inside_background {
        opacity: 0.1;
        transform: none;
      }
    }

    .has-links-inside_background {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
      background-color: $theme-main;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      border-radius: 1em;
      transform: scale(0.98, 0.98);
      transform-origin: bottom;
      transition: transform $speed $easing, opacity $speed * 2 $easing;
    }
  }
}

// gutters sometimes need to be removed on mobile
.has-no-gutters\@to-small {
  @media (max-width: $to-small) {
    margin-left: -2rem;
    margin-right: -2rem;
  }
  > * {
    @media (max-width: $to-small) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
.has-no-gutters\@to-medium {
  @media (max-width: $to-medium) {
    margin-left: -2rem;
    margin-right: -2rem;
  }
  > * {
    @media (max-width: $to-medium) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

