
.responsive-content {
  flex: 1;
  background-color: var(--bs-light);
}

.responsive-nav {
  @media (max-width: 575px) {
      position: fixed;
      bottom: 0;
      left: auto;
      z-index: 10;
  }
  @media (max-width: 1199px) {
      background: var(--bs-light);
      overflow: hidden;
      overflow-x: auto;
      width: 100%;
  }
  @media (min-width: 1200px) {
    display: inline-block;
    width: 25%;
    vertical-align: top;
  }

  &__list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    @media (max-width: 575px) {
      white-space: nowrap;
      display: flex;
    }
    @media (min-width: 576px) and (max-width: 1199px) {
      white-space: nowrap;
      display: flex;
    }
    @media (min-width: 1200px) {
      margin-top: 2rem;
    }
  }

  &__list-item {
    @media (max-width: 575px) {
      // display: inline-block;
      // white-space: nowrap;
      // flex: 0 0 auto;
      // min-width: 30%;
      flex: 0 0 30%;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: var(--bs-dark);
    font-size: 1rem;
    line-height: normal;
    text-align: left;
    background: transparent;
    border: none;
    width: 100%;

    @media (max-width: 575px) {
      padding: 0.5rem 1rem;
    }
    @media (min-width: 576px) {
      padding: 0.5rem 1rem;
    }
    @media (max-width: 1199px) {
      flex-direction: column;
      max-width: 12rem;
      overflow: hidden;
    }
    @media (min-width: 1200px) {
      padding: 0.5rem 0.75rem;
    }

    &:hover, &.active {
      background-color: white;
    }
  }

  &__icon {
    padding: 0.5em 1em;
    font-size: 1.25rem;
  }

  &__label {
    @media (max-width: 1199px) {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 8rem;
    }
  }
}

//

.responsive-main {
  @media (max-width: 575px) {
  }
  @media (min-width: 576px) {
  }
  @media (min-width: 1200px) {
    display: inline-block;
    width: 75%;
  }
}