html {
	@media (max-width: 575px) {
		font-size: 12px;
	}
	@media (min-width: 576px) and (max-width: 767px) {
		font-size: 13px;
	}
	@media (min-width: 768px) and (max-width: 1199px) {
		font-size: 14px;
	}
	@media (min-width: 1200px) and (max-width: 1599px) {
		font-size: 15px;
	}
	@media (min-width: 1600px) {
		font-size: 16px;
	}
}

.responsive-btn {
	padding: 0.5em 0.75em;
	font-size: 1rem;
	line-height: 1.25;
	&.btn-outline-secondary {
		border-color: transparent;
	}
	&.btn-outline-danger {
		border-color: transparent;
	}
	&.btn-input-label-wrap {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 160px;
		margin: auto;
	}
}

.responsive-form-control {
    padding: .5em 0.75em;
    font-size: 1.125rem;
    border-radius: .5em;

	&::placeholder {
		color: silver;
		font-style: italic;
	}
}

.responsive-form-label {
    font-size: 1rem;
    margin-bottom: .5em;
	&__bolder {
		font-weight: 700;
		text-transform: uppercase;
		@media (min-width: 1200px) {
			font-size: 0.875em;
			letter-spacing: -1px;
		}
	}
}

.responsive-font-size {
    font-size: 1rem;
}

.fit-cover {
	// use only on <img> when parent element is .override-upload-image-square
	height: 100%;
	object-fit: cover;
}

.alert {
	font-size: 1rem;
}
