
.override-terms-limit {
	@media (min-width: 479px) {
		max-width: 50%;
	}
	@media (min-width: 1200px) {
		max-width: 40%;
	}
}

.page-terms {
	h1 {
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}
	h2 {
		font-size: 1.5rem;
		margin-bottom: 1.25rem;
	}
	h3 {
		font-size: 1.25rem;
		margin-bottom: 0.75rem;
	}
	p {
		font-size: 1rem;
		line-height: 1.6;
	}
	ul {
		font-size: 1rem;
		line-height: 1.6;
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
}
